#################################
#  roxygen snippets (x2)_
#################################
# Taken from https://github.com/jalvesaq/Nvim-R/issues/383

snippet #'p
	#' ${1}
	#'
	#' ${2}
	#'
	#' @docType package
	#' @name ${3}

snippet #'
	#' $1
	#'
	#' @param $2
	#'
	#' @return $3
	#'
	#' @examples
	#' $4
	#'
	#' @export
