priority -50

# JSDoc snippets

snippet @r "@returns {Type} Description"
@returns {${1:Type}} ${2:Description}
endsnippet

snippet @prop "@property {Type} Name - Description"
@property {${1:Type}} ${2:Name} - ${3:Description}
endsnippet
